.galeria {
    overflow: hidden;
    margin: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
  }


.formulario {
    margin-bottom: 100px;
}

.fondo {
    background-color: #0d3174;
}

.botones {
    margin-left: 10px;
}

.botonprincipal {
    background-color: #0d3174;
    color: #fff;
}

.navbar-brand {
  margin-left: 70px;
}



