
.formulario {
    margin-bottom: 100px;
}

.navbar {
    background-color: #0d3174;
}

.botones {
    margin-left: 10px;
}

.botonprincipal {
    background-color: #0d3174;
    color: #fff;
}

.navbar-brand {
  padding-left: 90px;
}


#grafica1{
    max-width: 1000px;
    margin-top: 20px;
    margin : auto;
}

.graficas h1 {
   font-size: 35px; 
   margin-top: 50px;
   text-align: center;
}

