
.formulario {
    margin-bottom: 100px;
}

.navbar {
    background-color: #0d3174;
}

.botones {
    margin-left: 10px;
}

.botonprincipal {
    background-color: #0d3174;
    color: #fff;
}

.navbar-brand {
  padding-left: 90px;
}



